body{
    margin: 5% 20%;
}
img{
    width: 400px;
    height: 200px;
    padding-top: 10px;
}
h1{
    margin: 20px;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    margin-top: 10px;
}

.hide{
    display: none;
}

.accordion{
    width: 100%;
}

.accordion label{
    display: block;
    cursor: pointer;
    background-color: dodgerblue;
    height: 20px;

    padding: 10px 20px;
    font-weight: bold;
}

.accordion label:hover{
    color: aliceblue;
}

.acc_info{
    justify-content: center;
}

.acc_info:hover{
    cursor: pointer;
}

.accordion input:checked + label + .acc_info{
    display: flex;
}

.accordion li:hover .acc_info{
    display: flex;
}







/*Media queries*/


@media only screen and (max-width: 320px){
   
  }
  
 
@media only screen and (min-width: 821px) {

}

@media only screen and (min-width: 1921px) {
}